<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<link rel="stylesheet" type="text/css"
      href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div layout:fragment="Mycontent">
<div class="container">
  <div class="card-body">
    <form th:action="@{/updateCategorie(id=${categorie.idCat})}" method="post">
      <input type="hidden" th:name="idCat" th:value="${categorie.idCat}">
      <h2 class="text-center">Formulaire de Modifier les Categories</h2>
      <label class="form-label">Nom :</label>
      <div class="form-floating mb-3">
        <input type="Text" class="form-control" name="nomCat" th:value="${categorie.nomCat}">
      </div>
      <label class="form-label">Description :</label>
      <div class="form-floating mb-3">
        <input type="Text" class="form-control" name="descriptionCat" th:value="${categorie.descriptionCat}">
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Modifier</button>
      </div>
    </form>
  </div>
</div>
</div>
</body>
</html>